.cell {
    width: 50px;
    height: 50px;
    display: inline-block;
    border: 3px solid powderblue;
    border-radius: 12px;
    margin: 2px;
    font-size: auto;
    line-height: 50px;
    text-align: center;
  }

  .cell:hover {
    cursor: pointer
  }
  .cell.active {
    border: 3px solid darkcyan;
    background-color: powderblue;
  }
  .cell.active.selected {
    border: 4px solid blue;
    background-color: powderblue;
  }