/* @tailwind base;
@tailwind components;
@tailwind utilities; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gameInfo {
    background: purple;
    padding: 12px;
    margin: 5px;
    border-radius: 12px
}

@media(max-width: 992px) {
    .cell {
        -webkit-transform: rotate(-90deg); 
        -moz-transform: rotate(-90deg); 
        -o-transform: rotate(-90deg); 
        -ms-transform: rotate(-90deg); 
        transform: rotate(-90deg);
    }
    .playerBoard {
        -webkit-transform: rotate(90deg); 
        -moz-transform: rotate(90deg); 
        -o-transform: rotate(90deg); 
        -ms-transform: rotate(90deg); 
        transform: rotate(90deg);
    }

    .app {
        flex-direction: column;
    }
}